.head {
    background: linear-gradient(90deg, rgba(29,240,245,1) 0%, rgba(255,227,103,1) 100%);
}

.head div h1 {
    color: white;
    background: black;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
}

.titleContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0; 
}

.componentContainer {
    max-width: 1200px;
    margin: 50px auto;
}

.author {
    max-width: 300px;
    margin: 6px 0;
    font-weight: 500;
    opacity: .4;
  }
  
  .title {
    max-width: 300px;
    margin: 0 0 15px 0;
    color: white;
    background: black;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
  }
  
  .cover2x {
    width: 300px;
    border-radius: 10px;
    /* box-shadow: 6px 6px 30px 0px rgba(0, 0, 0, 0.10); */
  }
  
  .podDescription {
    max-width: 300px;
    color: black;
    /* opacity: .4; */
    line-height: 1.6;
  }

  .start {
    color: black;
  }