.size-1of10 {
  width: 9%;
}

.size-2of10 {
  width: 19%;
}

.size-3of10 {
  width: 29%;
}

.size-4of10 {
  width: 39%;
}

.size-5of10 {
  width: 49%;
}

.size-6of10 {
  width: 59%;
}

.size-7of10 {
  width: 69%;
}

.size-8of10 {
  width: 79%;
}

.size-9of10 {
  width: 89%;
}

.size-10of10 {
  width: 99%;
}